$color-primary: #00CEE0;
$color-dark: #00090A;
$color-light: #e3efef;

$spacing-normal: 16px;
$spacing-large: $spacing-normal * 1.5;
$spacing-larger: $spacing-normal * 2;
$spacing-largest: $spacing-normal * 3;
$spacing-small: $spacing-normal * 0.5;
$spacing-smaller: $spacing-normal / 3;
$spacing-smaller: $spacing-normal / 4;



// Fonts
/* nunito-sans-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/nunito-sans-v12-latin-300.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/nunito-sans-v12-latin-300.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/nunito-sans-v12-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/nunito-sans-v12-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/nunito-sans-v12-latin-600.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/nunito-sans-v12-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/nunito-sans-v12-latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/nunito-sans-v12-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/nunito-sans-v12-latin-800.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/nunito-sans-v12-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/nunito-sans-v12-latin-900.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


// Reset styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}